<app-header></app-header>
<div class="container">
    <form [formGroup]="form" class="m-5" (ngSubmit)="onSent($event)">
        <h5 class="mb-3">Agregar Proyecto</h5>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Titulo</label>
            <input type="titulo" formControlName="titulo" class="form-control" placeholder="Agregue un titulo"
                id="titulo"
                [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 'is-valid': !Titulo?.errors && Titulo?.touched}">
            <div *ngIf="Titulo?.errors && Titulo?.touched">
                <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                    El título es requerido.
                </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
            <input type="descripcion" formControlName="descripcion" class="form-control" id="descripcion"
                placeholder="Alguna Descripcion"
                [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched, 'is-valid': !Descripcion?.errors && Descripcion?.touched}"
                class="form-control">
            <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                <p *ngIf="Descripcion?.hasError('required')" class="text-danger"> La descripcion es requerida. </p>
            </div>
        </div>
        <button type="submit" *ngIf="!(Titulo?.hasError('required') || Descripcion?.hasError('required')) 
    && (!Descripcion?.errors && Descripcion?.touched)
    && (!Titulo?.errors && Titulo?.touched)" class="btn btn-success me-4">Enviar</button>
        <button type="button" class="btn btn-primary" (click)="goToForm()">
            Volver
        </button>
    </form>
    <div *ngIf="this.formsend" class="alert alert-success" role="alert">
        El proyecto fue agregado con éxito.
    </div>
    <div *ngIf="notformsend" class="alert alert-danger" role="alert">
        Falló al agregar el proyecto.
    </div>
</div>